body{
    font-family: Arial, Helvetica, sans-serif;
}
.title_bar{
    background-color: burlywood;
}
.title_bar .title_text{
    text-align: center;
}
.title_bar .title_tagline{
    text-align: center;
}
.title_bar .title_subtagline{
    text-align: center;
    font-style: italic;
}
.myshop_home .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.myshop_home .home_text{
    font-style: oblique;
    text-align: center;
}
.category{
    margin-top: 10px;
}
.category_item{
    margin-top: 10px;
}
.product{
    margin-top: 10px;
}